@mixin dropdownMenu($width, $position) {
  background-color: rgb(186, 196, 215);
  width: $width;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  position: relative;
  left: $position;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0.2rem 0.4rem;
      &:hover {
        background-color: rgb(55, 102, 255);
        border-radius: 5px;
        color: white;
      }
    }
    hr {
      width: 98%;
      border: 0.1px solid rgb(155, 155, 155);
    }
  }
}

@mixin appWindow($top, $left, $bg-color) {
  position: absolute;
  top: $top;
  left: $left;
  background-color: $bg-color;
  width: 50rem;
  height: 30rem;
  border-radius: 10px;

  &__header {
    width: 100%;
    height: 2.7rem;
    border-radius: 10px 10px 0 0;
    background-color: rgb(229, 228, 228);

    &--close {
      margin: 1rem 0 0 1rem;
      width: 0.7rem;
      background-color: rgb(251, 72, 72);
      border: 0.1px solid rgb(194, 55, 55);
      border-radius: 50%;
    }
    &--min {
      width: 0.5rem;
      height: 0.3rem;
      margin: 0 .3rem;
      padding: 0.2rem 0.1rem;
      background-color: rgb(255, 225, 0);
      border: 0.1px solid rgb(206, 182, 2);
      border-radius: 50%;
    }
    &--exp {
      width: .7rem;
      background-color: rgb(2, 194, 2);
      border: 0.1px solid rgb(1, 140, 1);
      border-radius: 50%;
      transform: rotate(45deg);
    }
  }
}
