@use "./partials/mixins";

.apple-menu {
  @include mixins.dropdownMenu(15rem, 0.4rem);
}

.finder-menu {
  @include mixins.dropdownMenu(10rem, 2.3rem);
}

.file-menu {
  @include mixins.dropdownMenu(14rem, 6rem);
}

.edit-menu {
  @include mixins.dropdownMenu(13rem, 8.3rem);
}

.view-menu {
  @include mixins.dropdownMenu(14rem, 10.8rem);
}

.go-menu {
  @include mixins.dropdownMenu(13rem, 13.5rem);
}

.window-menu {
  @include mixins.dropdownMenu(22rem, 15.8rem);
}

.help-menu {
  @include mixins.dropdownMenu(22rem, 19.8rem);
  input {
    margin-bottom: 0.5rem;
    background-color: rgb(166, 175, 191);
    width: 21.5rem;
    height: 1.4rem;
    border-style: none;
    border-radius: 5px;
    font-size: 0.9rem;
    text-indent: 0.5rem;
    &:focus-visible {
      outline: none;
    }
  }
}
