@use "./partials/mixins";

main {
  .google-app {
    @include mixins.appWindow(4rem, 5rem, white);

    &__main {
      margin-top: 3.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &--google {
        margin-bottom: -3rem;
        width: 24rem;
      }
      &--search {
        @include mixins.inputIconPosition(1.1rem, none, -17.3rem, 1.7rem);
      }
      &--voice-search {
        @include mixins.inputIconPosition(1.2rem, -14.7rem, none, 0.6rem);
      }
      &--image-search {
        @include mixins.inputIconPosition(1.2rem, -16.9rem, none, -0.6rem);
      }
      input {
        margin-top: -2.5rem;
        height: 2.4rem;
        width: 37rem;
        text-indent: 2.5rem;
        font-size: 1rem;
        border-radius: 20px;
        border-style: none;
        box-shadow: 1px 1px 4px 1px rgb(160, 160, 160);
        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  .musics-app {
    @include mixins.appWindow(7rem, 20rem, rgb(255, 106, 106));
    &__header-commands {
      margin-top: 0.8rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: sticky;

      &--audio-track {
        margin-right: 1rem;
        input {
          width: 20rem;
        }
      }
      &--track-time {
        margin: 0 5rem 0 0;
        color: black;
      }
      &--volume-track {
        input {
          width: 5rem;
        }
      }
      &--sound-icon {
        width: 1rem;
        margin: 0 .5rem;
      }
    }

    &__main {
      margin: 3rem 2.5rem 0 2.5rem;

      .album {
        margin: 4rem 0 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__info {
          margin-left: 2rem;
          &--version {
            margin-bottom: 0.5rem;
            font-size: 1.7rem;
            color: black;
          }
          &--band {
            margin: 0 0 1rem 0;
            font-size: 1.7rem;
            color: rgb(162, 0, 0);
          }
          &--play {
            margin: 2rem 0 0 -1rem;
            width: 6rem;
            padding: 0.4rem;
            padding-left: 1rem;
            border-radius: 5px;
            border-style: none;
            color: white;
            background-color: rgb(250, 38, 38);
          }
          img {
            position: relative;
            top: .3rem;
            left: 1rem;
            width: 1.1rem;
          }
        }
        &__image {
          width: 15rem;
          border-radius: 5px;
          box-shadow: 1px 1px 10px black;
        }
      }

      .album-list {
        display: flex;
        justify-content: space-between;
        ol {
          padding-left: 1.2rem;
          li {
            padding-left: 0.9rem;
          }
        }
        p {
          margin-right: .5rem;
        }
      }

      hr {
        width: 44.5rem;
        border: 0.1px solid white;
      }
    }
  }

  .photos-app {
    @include mixins.appWindow(10rem, 35rem, rgb(250, 246, 246));
    overflow: scroll;
    &__main {
      display: grid;
      margin: 0 2.5rem;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 8rem);
      grid-gap: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h2 {
        @include mixins.gridPicPosition(1, 7, 1, 2);
        margin: 4rem 0 0 2rem;
        font-size: 1.6rem;
        text-shadow: 1px 1px black;
        position: fixed;
        z-index: 1;
      }
      &--1 {
        @include mixins.gridPicPosition(1, 5, 1, 4);
      }
      &--2 {
        @include mixins.gridPicPosition(5, 7, 1, 3);
      }
      &--3 {
        @include mixins.gridPicPosition(5, 6, 3, 4);
      }
      &--4 {
        @include mixins.gridPicPosition(6, 7, 3, 4);
      }
      &--5 {
        @include mixins.gridPicPosition(1, 3, 4, 5);
      }
      &--6 {
        @include mixins.gridPicPosition(3, 5, 4, 5);
      }
      &--7 {
        @include mixins.gridPicPosition(5, 7, 4, 5);
      }
      &--8 {
        @include mixins.gridPicPosition(1, 4, 5, 7);
      }
      &--9 {
        @include mixins.gridPicPosition(4, 7, 5, 7);
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: 20rem;
      color: black;

      h3 {
        margin-bottom: 0;
      }
      P {
        text-align: center;
        margin-top: 0.5rem;
      }
    }
  }
}
